<%= erb :header %>
	<h1>Beaufort Cipher</h1>
	<form id="beaufort" method="post" action="/beaufort">
		<div class="form-group">
			<label>Enter your secret message here!</label>
			<textarea name="encrypt" form= "beaufort" class="form-control msg-io"></textarea>
		</div>
		<div class="form-group">
			<label>Key word</label>
			<input type="text" name="key" value="zebra" class="form-control msg-io">
		</div>
<%= erb :footer %>