<%= erb :header %>
	<h1>Caesar Cipher</h1>
	<form id="caesar" method="post" action="/caesar">
		<div class="form-group">
			<label>Enter your secret message here!</label>
			<textarea name="encrypt" form= "caesar" class="form-control msg-io"></textarea>
		</div>
		<div class="form-group">
			<label>Key</label>
			<input type="number" name="shift" class="form-control msg-io" value="3">
		</div>
<%= erb :footer %>