<%= erb :header %>
	<h1>Caesar Cipher!</h1>
	<form id="caesar" method="post" action="/caesar">
		<textarea name="encrypt" form= "caesar"></textarea>
		<label>Key</label>
		<input type="number" name="shift" value="3">
		<input type="submit" value="Encrypt!">
	</form>
	<div><%= @encrypted %></div>
</body>
</html>