<%= erb :header %>
	<h1>Atbash Cipher</h1>

	<form id="atbash" method="post" action="/">
		<div class="form-group">
			<label>Enter your seceret message here!</label>
			<textarea name="encrypt" form="atbash" class="form-control msg-io"></textarea>
		</div>
<%= erb :footer %>