<!DOCTYPE html>
<html>
<head>
	<title>Ciphun</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Atbash Cipher!</h1>
	<form id="toEncrypt">
		<textarea name="encrypt" form= "toEncrypt"></textarea>
		<input type="submit" value="Encrypt!">
	</form>
	<div><%= @encrypted %></div>
</body>
</html>