<%= erb :header %>
	<h1>Atbash Cipher</h1>
	<div class="msg-io left-text">
		<p>The Atbash cipher is a monoalphabetic substitution cipher. In this cipher the letters in the alphabet are written in reverse order.</p>
		<p>To encrypt a message using the Atbash cipher a person would map the letter they want to the letter at the same spot in the reversed alphabet.</p>
		<ul>
			<li class="mono">Plain text: &nbsp;ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
			<li class="mono">Cipher text: ZYXWVUTSRQPONMLKJIHGFEDCBA</li>
		</ul>
		<p>"Meet me at the secret spot" would be encrypted to "Nvvg nv zg gsv hvxivg hklg".</p>
		<p>Give it a try!</p>
	</div>
	<form id="atbash" method="post" action="/">
		<div class="form-group">
			<label>Enter your secret message here!</label>
			<textarea name="encrypt" form="atbash" class="form-control msg-io js-secret-text"></textarea>
		</div>

<%= erb :footer %>