<%= erb :header %>
	<h1>Atbash Cipher!</h1>
	<form id="atbash" method="post" action="/">
		<textarea name="encrypt" form= "atbash"></textarea>
		<input type="submit" value="Encrypt!">
	</form>
	<div><%= @encrypted %></div>
</body>
</html>