<!DOCTYPE html>
<html>
<head>
	<title>Ciphun</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="nav">
		<h4 id="nav-head">Ciphers:</h4>
		<ul>
			<li><a href="/">Atbash</a></li>
			<li><a href="/beaufort">Beaufort</a></li>
			<li><a href="/caesar">Caesar</a></li>
			<li><a href="/railfence">Rail Fence</a></li>
			<li><a href="/vigenere">Vigenére</a></li>
		</ul>
	</div>
	<div class="container">