<%= erb :header %>
	<h1>Rail Fence Cipher</h1>
	<form id="railfence" method="post" action="/railfence">
		<div class="form-group">
			<label>Enter your secret message here!</label>
			<textarea name="encrypt" form="railfence" class="form-control msg-io"></textarea>
		</div>
		<div class="form-group">
			<label>Rows</label>
			<input type="number" name="rows" class="form-control msg-io" value="3">
		</div>
<%= erb :footer %>