<%= erb :header %>
	<h1>Vigenére Cipher!</h1>
	<form id="vigenere" method="post" action="/vigenere">
		<label for="encrypt">Enter your seceret message here!</label>
		<textarea id="encrypt" name="encrypt" form= "vigenere"></textarea>
		<label for="key">Key word</label>
		<input type="text" name="key" value="zebra" id="key">
		<input type="submit" value="Encrypt!">
	</form>
	<div><%= @encrypted %></div>
</body>
</html>